
<div *ngIf="tableData.length; else loading">
  <table >
    <thead>
      <tr>
        <th>Номер</th>
        <th>Группа</th>
        <th>Цена</th>
        <th>Ссылка</th>
        <th>Избранное</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of tableData; let i = index">
        
          <td>{{i+1}}</td>
          <td>{{d.name}}</td>
          <td>{{d.price}}</td>
          <td>
            <button class="btn btn-link" [routerLink]="['/user', 'post', d.price]">
              Открыть
            </button>
            <!-- <a (click)="addFavorites(post)">Избранное</a> -->
          </td>
          <td>{{d.price}}</td>

        </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="tableDataNew.length" [(page)]="page" [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="onChangePagination($event)"></ngb-pagination>
</div>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>

  </div>
</ng-template>
