<div *ngIf="tableData.length; else loading">
  <table >
    <thead>
      <tr>
        <th>Номер</th>
        <th>Группа</th>
        <th>Цена</th>
        <th>Ссылка</th>
        <th>Избранное</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let post of tableData | slice: (page-1) * pageSize : page * pageSize ; let idx = index" >
      <tr *ngFor="let d of post.data  ; let i = index">
        
          <!-- <td>{{idx+1}}</td> -->
          <td>{{d.price}}</td>
          <td>
            <button class="btn btn-link" [routerLink]="['/user', 'post', d.price]">
              Открыть
            </button>
            <!-- <a (click)="addFavorites(post)">Избранное</a> -->
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>