<div *ngIf="tableData.length; else loading">
  <table>
    <thead>
      <tr>
        <th>Номер</th>
        <th>Группа</th>
        <th>Цена</th>
        <th>Ссылка</th>
        <th>Избранное</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of tableData[0].data; let idx = index">
        <td>{{idx + 1}}</td>
        <td>{{tableData[0].name}}</td>
        <td>{{post.price}}</td>
        <td>
          <button class="btn btn-link" [routerLink]="['/user', 'post', post.price]">
            Открыть
          </button>
          <a (click)="addFavorites(post.post)">Избранное</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>