<div class="parser-wrapp">
  <div class="wrapp-tree">
    <div class="wrapp-tree__inner">
      <nz-demo-tree-basic-controlled></nz-demo-tree-basic-controlled>
    </div>
  </div>
  <div class="container">
    <div class="container-content">
      <div class="wrapp-groups">
        <app-groups></app-groups>
      </div>
      <div class="wrapp-btn">
        <button mat-flat-button color="warn" (click)="onSubmit()" class="btn-send">
          Отправить
        </button>
      </div>
      <div class="wrapp-tabs">
        <nav mat-tab-nav-bar>
          <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive"> {{link.label}} </a>
        </nav>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>